.DS_Store
xcuserdata/
*.xcuserstate
DerivedData/
build/
.build/
*.ipa
*.dSYM.zip
*.dSYM
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output/
actions-runner/
*.pbxproj.backup
cloudnativezurich-fonts.zip
cloudnativezurich-fonts/
